@use 'src/scss/base';

.contacts {
    background: base.$light-blue;


    &__title {
        @include base.sub-heading;
        color: base.$regular;
        padding: 0.5% 2%;
    }

    &__form {
        margin: 1% auto 3%;

    }

    //Media query
    @include base.small-screens {
        // Leave some space between the contacts and the footer
        padding: 2% 3% 5%;

        // Make the font smaller on smaller screens 
        &__title {
            font-size: 23px;
        }
    }


}

.form {

    //=========
    // Leave some space before each input group expect for the last one 
    &>* {
        padding-top: 20px;
    }

    &>*:last-child {
        padding-top: 0px;
    }

    //=============

    &__label {
        @include base.sub-text;
    }

    &__input {
        text-align: center;
        width: 50%;
        padding: 5px 10px;
        background-color: base.$blue;
        border: solid 1px base.$light;
        border-radius: 15px;
    }


    // Make the font smaller on smaller screens 
    @include base.medium-screens {
        &__input {
            width: 70%;
        }
    }

    @include base.small-screens {
        &__label {
            font-size: 18px;
        }

        &__input {
            width: 80%;
        }
    }


}