@use 'src/scss/base';

.contacts {
    background: base.$light-blue;

    // Leave some space between the contacts and the footer
    @include base.small-screens {
        padding: 2% 3% 5%;
    }


    &__title {
        @include base.sub-heading;
        // Small correction to the size
        font-size: 1.8rem;
        padding: 0.5% 2%;

        // Make the font smaller on smaller screens 
        @include base.small-screens {
            font-size: 23px;
        }
    }

    &__form {
        margin: 1% auto 3rem;

    }
}

.form {

    //=========
    // Leave some space before each input group expect for the last one 
    &>* {
        padding-top: 20px;
    }

    &>*:last-child {
        padding-top: 0px;
    }

    //=============

    &__label {
        @include base.sub-text;

        // Make the font smaller on smaller screens 
        @include base.small-screens {
            font-size: 18px;
        }
    }

    &__input {
        text-align: center;
        width: 50%;
        padding: 5px 10px;
        background-color: base.$blue;
        border: solid 1px base.$light;
        border-radius: 15px;

        // Make the input width bigger than 50% on smaller screens 
        @include base.medium-screens {
            width: 70%;
        }

        @include base.small-screens {
            width: 80%;
        }
    }

    &--required::after {
        content: "*";
    }
}