@use 'src/scss/base';

.resume {
    // background-color: base.$blue;
    background-image: base.$blue-pink-circle;

    &__grid-container {
        display: flex;
        flex-direction: row;
    }

    &__column {
        text-align: left;
        padding: 0 3%;
        // border: solid 1px black;
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: auto;
        width: 50%;
        max-width: 100%;
    }

    &__item {
        // The padding keeps space between the resume text and the border on the left
        padding: 0 0 20px 30px;
        list-style: inside;
        border-left: 4px solid base.$pink-background;

        // This add some space at the bottom of each element in a resume item 
        &>* {
            margin-bottom: 10px;
        }

        // This removes the space on the bottom of a resume item element because it's not needed for the last element
        &>*:last-child {
            margin-bottom: 0;
        }

        &:hover {
            transition: all 0.4s ease-out;
            background-color: rgba(182, 212, 255, 0.305);
            // background: radial-gradient(circle, rgba(255, 142, 221, 0.348) 0%, rgba(174, 147, 255, 0.31) 47%, rgba(155, 172, 255, 0.368) 79%, rgba(163, 240, 255, 0.289) 100%);
            border-radius: 15px;
        }
    }

    // Text styling
    // Big pink color title
    &__heading {
        @include base.resume-heading;
        margin: 2% 0;
        padding: 1.5% 0;
    }

    // Big marine color title
    &__sub-heading {
        @include base.resume-sub-heading;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            width: 20px;
            height: 20px;
            border-radius: 50px;
            left: -42px;
            top: -1px;
            background: base.$pink-accent;
            border: 2px solid base.$pink-background;
        }
    }

    &__location {
        font-size: 1rem;
        font-weight: base.$semi-bold-weight;
        color: base.$location;
        // Prevent the location text from breaking apart onto different lines 
        white-space: nowrap;
    }

    &__year {
        @include base.resume-year;
        padding: 3px 7px;
        display: inline-block;
    }

    &__normal-text {
        @include base.normal-text;
    }

    &__organization {
        @include base.resume-organization;
        padding: 3px 7px;
        display: inline-block;
    }
}