@use 'src/scss/base';

.resume {
    background-image: base.$blue-pink-circle;

    // Set the vh for the preview mode
    &--preview {
        height: 90vh;
        overflow: hidden;
    }

    &__expander {
        // === center the + and - button
        display: flex;
        justify-content: center;
        align-items: flex-end;
        // ===

        color: black;
        position: relative;
        top: -120px;
        padding: 0;
        height: 120px;
        width: 100%;
        background: base.$transparent-to-yellow;
        // This helps get rid of the empty space that is left after moving the expander up
        margin-bottom: -120px;

        &-svg {
            margin: auto;
            width: 40px;
            height: 40px;

            &:hover {
                width: 50px;
                height: 50px;
                animation: action 0.4s infinite alternate;

                @keyframes action {
                    0% {
                        transform: translateY(0px);

                    }

                    100% {

                        transform: translateY(-10px);

                    }
                }
            }
        }

    }



    &__grid-container {
        display: flex;
        flex-direction: row;

        @include base.large-screens {
            max-width: 1500px;
            margin: auto;
        }

        @include base.medium-screens {
            flex-direction: column;
        }
    }

    &__column {
        text-align: left;
        padding: 0 3%;
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: auto;
        width: 50%;
        max-width: 100%;

        @include base.medium-screens {
            width: 100%;
        }
    }

    &__item {
        // The padding keeps space between the resume text and the border on the left
        padding: 0 0 20px 30px;
        list-style: inside;
        border-left: 4px solid base.$pink-background;

        // This add some space at the bottom of each element in a resume item 
        &>* {
            margin-bottom: 10px;
        }

        // This removes the space on the bottom of a resume item element because it's not needed for the last element
        &>*:last-child {
            margin-bottom: 0;
        }

        &:hover {
            transition: all 0.4s ease-out;
            background-color: rgba(182, 212, 255, 0.305);
            border-radius: 15px;
        }
    }

    // Text styling
    // Big pink color title
    &__heading {
        @include base.resume-heading;
        margin: 2% 0;
        padding: 1.5% 0;

        // When resume turns into 1 column make the pink headings center aligned 
        @include base.medium-screens {
            text-align: center;

        }
    }

    // Big marine color title
    &__sub-heading {
        @include base.resume-sub-heading;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            width: 20px;
            height: 20px;
            border-radius: 50px;
            left: -42px;
            top: -1px;
            background: base.$pink-accent;
            border: 2px solid base.$pink-background;
        }
    }

    &__location {
        font-size: 1rem;
        font-weight: base.$semi-bold-weight;
        color: base.$location;

    }

    &__year {
        @include base.resume-year;
        padding: 3px 7px;
        display: inline-block;
    }

    &__normal-text {
        @include base.normal-text;
    }

    &__organization {
        @include base.resume-organization;
        padding: 3px 7px;
        display: inline-block;
    }

    // Add padding-bottom to push down the collapser a little further below so that no text is covered with gradient 
    &__certificate-container {
        padding-bottom: 70px;
    }
}