$white: rgb(255, 255, 255);
$pink-accent: rgb(235, 89, 157);
// $pink-accent: rgb(242, 107, 170);
$pink-background: rgb(255, 212, 232);
// $blue: rgb(203, 253, 253);
$blue: rgb(215, 253, 253);
$light-blue: rgb(232, 255, 255);
$blue-green: rgb(50, 139, 146);
$yellow: rgb(255, 243, 173);
$header: rgb(47, 44, 47);
$regular: rgb(55, 55, 55);
$light: rgb(105, 102, 102);
$telegram: rgb(63, 141, 208);