$white: rgb(255, 255, 255);
$pink-accent: rgb(236, 92, 159);
$pink-background: rgb(255, 212, 232);
$blue: rgb(203, 253, 253);
$light-blue: rgb(230, 255, 255);
$yellow: rgb(255, 243, 173);
$header: rgb(47, 44, 47);
$regular: rgb(55, 55, 55);
$light: rgb(105, 102, 102);
$telegram: rgb(63, 141, 208);