@use 'typography';
@use 'responsive';

.container {
    padding: 2% 10%;
    margin: 1% 0% 2%;
    list-style: inside;

    @include responsive.above-1080 {
        max-width: 1380px;
        margin: auto;
    }

    &__normal-text {
        @include typography.normal-text;
    }

    &--left-align {
        text-align: left;
    }

    &--smaller-padding {
        padding: 0% 10% 1.5rem;
    }
}