@use 'typography';
@use 'responsive';

.container {
    padding: 2% 10%;
    list-style: inside;

    &__normal-text {
        @include typography.normal-text;
    }

    &--left-align {
        text-align: left;
    }

    @include responsive.above-1080 {
        max-width: 1380px;
        margin: auto;
    }

}