@use 'mixins';
@use 'colors';
@use 'responsive';

// Section styling 
.section {

    padding: 1.5% 3.5%;

    @include mixins.section-title;

    &__subheader {
        @include mixins.subheader;
    }

    &__subsub {
        @include mixins.subsub;
    }

    // Clearly specified the background colors for the filter brightness below in --flex
    &--english-background {
        background-color: colors.$light-yellow;
    }

    &--psychology-background {
        background-color: colors.$pink-background;
    }

    // Make the section a flex box 
    &__flex-container {
        display: flex;
        justify-content: center;
        gap: 1.5rem;
        // setting the 'card' style
        filter: brightness(102%);
        border-radius: 30px;
        padding: 7%;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        // box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }

    // Setting of each flex item 
    &__flex-item {
        align-self: center;
    }

    &__picture {
        width: 300px;
        height: 300px;
        border-radius: 200px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

        @include responsive.small-screens {
            width: 200px;
            height: 200px;
        }
    }

    // Modifiers for right and left text alignment
    &--right-align {
        text-align: right;
    }

    &--left-align {
        text-align: left;
    }

    &--no-separator {
        padding: 1.5% 12.5%;

        &::before,
        &::after {
            content: " ";
        }
    }

    //Reduces blank space in the contacts section
    &--smaller-padding {
        padding: 0%;

        &::before,
        &::after {
            content: none;
        }
    }

    // Media queries 
    @include responsive.below-1080 {
        &__flex-container {
            flex-direction: column;
            row-gap: 1.2rem;
        }

        // On small screens make the text center aligned again
        &--right-align,
        &--left-align {
            text-align: center;
        }

    }

    @include responsive.above-1080 {
        max-width: 1380px;
        margin: auto;
    }

}