@use 'mixins';

// Section styling 
.section {

    padding: 1.5% 3.5%;

    @include mixins.section-title;

    &__subheader {
        @include mixins.subheader;
    }

    &__subsub {
        @include mixins.subsub;
    }

    // Make the section a flex box 
    &--flex {
        display: flex;
        justify-content: center;
        gap: 1.5rem;
    }

    // Setting of each flex item 
    &__flex-item {
        align-self: center;
    }

    &__text {
        // flex-shrink: ;

    }

    &__picture {
        width: 300px;
        height: 300px;
        border-radius: 200px;
    }

    // Modifiers for right and left text alignment
    &--right-align {
        text-align: right;
    }

    &--left-align {
        text-align: left;
    }

    &--no-separator {
        padding: 1.5% 15.5%;

        &::before,
        &::after {
            content: " ";
        }
    }

    // Media queries 
    @media only screen and (max-width: 900px) {
        &--flex {
            flex-direction: column;
            row-gap: 2rem;
        }

        // On small screens make the text center aligned again
        &--right-align,
        &--left-align {
            text-align: center;
        }

    }

}