// Fonts 
$header-font: "Yanone Kaffeesatz", sans-serif;
$subheader-font: "Montserrat Alternates", sans-serif;
$merriweather-font: "Merriweather", serif;

// Weights 
$light-weight: 300;
$normal-weight: 400;
$semi-bold-weight: 500;
$bold-weight: 700;
$black-weight: 900;