h1 {
    font-size: 5rem;
    font-weight: 700;
}

h2 {
    font-size: 2rem;
    font-weight: 500;
}

h3 {
    font-size: 1.5rem;
    font-weight: 400;
}


$header-font: "Yanone Kaffeesatz", sans-serif;

$regular-font: "Montserrat Alternates", sans-serif;