@use 'base';
@use 'partials';

body {

  text-align: center;
  // This helped me prevent the sticky navbar from disappearing once I scrolled down more than the original 100vh. 
  height: auto;
  // Set the default font
  font-family: base.$merriweather-font;
}


body>* {
  padding: 2% 3%;
}

// @media (min-width: 1080px) {
//   body>* {
//     padding: 5px 3%;
//   }
// }

.lorem {
  @include base.normal-text;
}