@use 'base';
@use 'partials';


body {
  background-color: base.$white;
  text-align: center;
}

body>* {
  padding: 2% 5%;
}

.resume {
  background-color: base.$blue;
  @include partials.section(resume);
}

.english {
  background-color: base.$white;
  @include partials.section(english);
}

.english-feedback {
  background-color: base.$yellow;
  @include partials.section(english-feedback);
}

.psychology {
  background-color: base.$pink-background;
  @include partials.section(psychology);
}

.psychology-feedback {
  background-color: base.$blue;
  @include partials.section(psychology-feedback);
}